
*.xml
*.s
*.ld
*.ld
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/.suo
*.resources
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_18_29_22.txt
Telemetry/yeniform/obj/Debug/yeniform.pdb
Telemetry/yeniform/obj/Debug/yeniform.exe
Telemetry/yeniform/obj/Debug/Telemetry-Electric.csproj.GenerateResource.cache
Telemetry/yeniform/bin/Debug/yeniform.pdb
Telemetry/yeniform/bin/Debug/yeniform.exe
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_18_50_40.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_18_51_39.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_18_57_19.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_18_58_21.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_19_13_46.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_19_26_23.txt
Telemetry/yeniform/bin/Debug/Logs/2020_05_03_19_27_22.txt
Telemetry/yeniform/bin/Debug/yeniform.exe
Telemetry/yeniform/bin/Debug/yeniform.pdb
Telemetry/yeniform/obj/Debug/Telemetry-Electric.csproj.GenerateResource.cache
Telemetry/yeniform/obj/Debug/yeniform.exe
Telemetry/yeniform/obj/Debug/yeniform.pdb
*.ide
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/yeniform/bin/Debug/yeniform.exe
Telemetry/yeniform/bin/Debug/yeniform.pdb
Telemetry/yeniform/obj/Debug/Telemetry-Electric.csproj.GenerateResource.cache
Telemetry/yeniform/obj/Debug/yeniform.exe
Telemetry/yeniform/obj/Debug/yeniform.pdb
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/yeniform/bin/Debug/yeniform.exe
Telemetry/yeniform/bin/Debug/yeniform.pdb
Telemetry/yeniform/obj/Debug/Telemetry-Electric.csproj.GenerateResource.cache
Telemetry/yeniform/obj/Debug/yeniform.exe
Telemetry/yeniform/obj/Debug/yeniform.pdb
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/yeniform/bin/Debug/yeniform.exe
Telemetry/yeniform/bin/Debug/yeniform.pdb
Telemetry/yeniform/obj/Debug/Telemetry-Electric.csproj.GenerateResource.cache
Telemetry/yeniform/obj/Debug/yeniform.exe
Telemetry/yeniform/obj/Debug/yeniform.pdb
*.ide-shm
*.ide-wal
*.ide-wal
*.exe
*.txt
*.cache
*.exe
*.pdb
*.ide-wal
*.ide-shm
*.ide
Telemetry/.vs/Telemetry-Electric/v15/.suo
*.su
*.su
*.o
*.d
*.mk
*.list
Lyra/Aesk_Lyra_Telemetry_System_2020_Keil/MDK-ARM/Aesk_Lyra_Telemetry_System_2020_Keil.uvguix.Yusuf
Lyra/Aesk_Lyra_Telemetry_System_2020_Keil/MDK-ARM/Aesk_Lyra_Telemetry_System_2020_Keil.uvprojx
Lyra/Telemetry - Electric/.vs/Telemetry-Electric/v16/.suo
Lyra/Telemetry - Electric/.vs/Telemetry-Electric/v16/.suo
Hydra/Aesk_Hydra_Telemetry_System_2020_v1_CubeIDE/Debug/makefile
Lyra/Telemetry - Electric/.vs/Telemetry-Electric/v16/.suo
Hydra_Telemetry_System_2020_v1/Debug/
