
*.xml
*.s
*.ld
*.ld
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-wal
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/.suo
Telemetry/yeniform/BMS_form.resx
*.resources
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
Telemetry/.vs/Telemetry-Electric/v15/Server/sqlite3/storage.ide-shm
